Description=RTMP test card

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/p2p-mediastream
ExecStart=/home/ubuntu/p2p-mediastream/scripts/generate-video.sh

[Install]
WantedBy=multi-user.target
